*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TodoList {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.completed {
  text-decoration: line-through;
  color: gray;
}